/*****MEDIA*****/

/** .poll **/ 
@media all and (max-width: 1199px)
	.container
		width: 1023px
		padding: 0 10px
	
	.poll 
		padding-top: 40px
		padding-bottom: 40px

	.poll h2
		width: 80%

	.poll__say
		margin-left: 18px

	.poll__say span
		display: inline



@media all and (max-width: 1024px)
	.container
		width: 767px
	
	.poll h2
		width: 100%

	.poll__stat 
		margin-bottom: 40px

	.poll__left,
	.poll__right
		flex-wrap: wrap
		justify-content: center

	.poll__say,
	.poll__do
		text-align: center
		margin-left: 0
		margin-top: 28px
	.poll__do
		padding-left: 0px

	.poll__percent
		text-align: center

	




@media all and (max-width: 768px)
	.container	
		width: 479px
	
	.poll__stat
		margin-bottom: 36px

	.poll__left,
	.poll__right
		align-content: flex-start

	.poll__percent b 
		font-size: 110px
		line-height: 110px

	.poll__man 
		margin-top: 0px
		
		span
			margin-right: 7.5px

	.poll__say,
	.poll__do
		margin-top: 22px
		font-size: 18px
		line-height: 24px

	.poll__note p 
		width: 100%



@media all and (max-width: 480px)
	.container	
		width: 320px

	.poll 
		&__par
			margin-bottom: 26px

		&__stat
			flex-wrap: wrap
			margin-bottom: 20px

		&__left,
		&__right
			width: 100%

		&__right
			padding-left: 0px

		&__say,
		&__do
			margin-top: 18px
			margin-bottom: 26px




/** .fish-info**/

@media all and (max-width: 1400px)
	#ascrail2000
		transform: translateX(565px)

	.fish-info
	
		& .container::after
			width: 100%

		&__table 
			padding-right: 56px
			width: auto


		&__row
			justify-content: space-around


		&__img 
			max-width: 350px

		&__img img 
			width: 100%
			height: auto



@media all and (max-width: 1200px)
	
	#ascrail2000
		transform: translateX(485px)
		

	.fish-info

		&__table
			padding-right: 70px

		&__img
			max-width: 270px

		&__recipe-head
			padding-right: 0
			max-width: 257px

		&--show &__btn
			margin-right: 0px





@media all and (max-width: 1023px)

	#ascrail2000
		transform: translateX(330px)

	.fish-info
		padding-top: 40px


		&__table
			padding-right: 30px

		&__row
			flex-wrap: wrap
			justify-content: center
			margin-bottom: 40px

		&__row:last-child
			margin-bottom: 80px

		&__img
			width: 100%
			height: 180px
			max-width: none

		&__img img 
			width: 55%

		&__descr,
		&__recipe
			width: 40%

		&__recipe-head
			padding-right: 0px
			max-width: 341px

		&__recipe-body
			padding-top: 64px
	.how-order__item b
		font-size: 22px
	.how-order
		padding-bottom: 64px

@media all and (max-width: 768px)

	#ascrail2000
		transform: translateX(212px)

	.fish-info
	
		h2 
			margin-bottom: 40px

		&__table
			padding-right: 0
			width: 95%
			margin-left: auto
			margin-right: auto

		&__row
			margin-bottom: 20px


		&__descr,
		&__recipe
			width: 100%
			margin-left: 0
			padding-left: 47px
			padding-right: 40px
			text-align: center
			
		&__descr-head,
		&__recipe-head
			padding-bottom: 0
			min-height: 70px

		&__descr-head
			justify-content: center

		&__recipe-head p 

			bottom: -67px
			left: 100px


		&__recipe-body
			padding-top: 45px

		&__recipe-body p 
			font-size: 16px
			line-height: 1.45
			
		&__descr-body
			padding-top: 16px
			
		&__descr-body p
			font-size: 16px
			line-height: 1.45


		&--show
			width: 92%
			left: 50%
			transform: translateX(-50%)
			

		&--show &__btn
			margin-right: 0

		&__row:last-child &--show 
			margin-bottom: 120px
	.how-order
		padding-top: 64px

@media all and (max-width: 480px)

	#ascrail2000
		transform: translateX(136px)

	.fish-info

		&__img img
			width: 80%

		&__descr-head
			flex-wrap: wrap
			justify-content: space-between

		&__descr-head h3
			font-size: 22px
			width: 100%

		&__descr-head span
			font-size: 14px
			margin: 0
			padding-left: 35px

		&__descr-head span::before
			top: -33%
			left: 9px
			height: 24px
			width: 24px
			background-size: contain

		&__recipe-head p 
			left: 32px

		&__food
			max-width: 200px

		&--show &__btn
			margin-right: -2px

		&--show &__recipe-head::before
			left: 6px
	


/* .comparison */


@media all and (max-width: 1199px)

	.comparison
		padding-top: 100px

		h2 
			width: 75%
			margin-left: auto
			margin-right: auto

		&__table::before
			max-width: 255px
		&__table td,
		&__table th
			padding-left: 10px 
			padding-right: 10px

		&__table td:first-child
			padding-right: 10px


		&__record
			padding: 0 10px

		&__record::before 
			left: 3%

		&__record p:first-child
			margin-left: 68px



@media all and (max-width: 1024px)

	.comparison

		h2 
			width: 91%

		&__table::before 
			max-width: 165px

		&__table th,
		&__table td:first-child
			font-size: 16px

		&__table td 
			font-size: 14px

		&__table td:last-child 
			font-size: 15px
			padding-left: 45px
			padding-right: 10px

		&__our-product
			padding-right: 0

		&__check
			left: 10px
		
		&__btn 
			width: 99%


		&__record p 
			text-align: center

		&__bottom
			max-width: 79%

		&__record p:last-child::before
			height: 160%
			left: -25px 
			top: -16px

		&__record p:last-child::after
			height: 6px
			width: 6px 
			left: -29px 
			top: 25px
			


@media all and (max-width: 768px)
	
	.comparison
		padding-bottom: 77px

		&__table
			display: none

		&__record
			display: block
			margin-top: 45px
			padding-top: 10px
			padding-bottom: 30px

		&__record::before 
			min-height: auto
			height: 50px
			border-top: none
			top: 52%
			left: 18%
    		

		&__record p:first-child 
			margin-bottom: 30px
			margin-left: auto
			margin-rightL auto

		&__record p:last-child
			margin-left: 0

		&__bottom
			max-width: 84%
			font-size: 22px


		&__record p:last-child::before
			height: 1px
			width: 100%
			left: 0px 
			top: -22px

		&__record p:last-child::after
			
			left: 50% 
			top: -28.5px
			transform: rotate(135deg) translateY(-50%)
	
	.adaptiv-table
		display: flex

		&__btn
			display: block


		.slick-arrow
			top: 103%

		.slick-prev
			left: -53%

		.slick-next
			left: 86%






@media all and (max-width: 480px)
	.adaptiv-table
		

		&__col-head 
			width: 50%

		&__col-head div
			font-size: 14px

		&__slick 
			width: 54%

		&__col div 
			font-size: 14px
			padding-left: 10px

		&__our-prod div
			padding-left: 34px

		&__btn 
			width: 80%




		.slick-arrow
			top: 103%

		.slick-prev
			left: -84%

		.slick-next
			left: 73%

	.comparison
		padding-bottom: 50px
		&__check 
			left: 5px

		&__bottom
			max-width: 100%

		&__record 
			padding-bottom: 50px

		&__record p:first-child
			margin-bottom: 20px

		&__record::before 
			left: 41%
			top: 72%
    		
		&__record p:last-child::before
			height: 1px
			width: 100%
			left: 0px 
			top: -12px

		&__record p:last-child::after
			
			left: 46% 
			top: -16.5px
			transform:  rotate(135deg) 




@media all and (max-width: 1285px)
	.how-order
		&__item:nth-child(1):before
			left: -60px





@media all and (max-width: 1199px)
	
	 
			

	.how-order
		
		&__list
			justify-content: center
		
		&__item:nth-child(1),
		&__item:nth-child(3)
			margin-right: 0px
			margin-left: 0px
		

		&__item:nth-child(2)
			margin-right: 10px 
			margin-left: 10px

		&__item:nth-child(1):before
			left: -40px
			width: 150px
			background-size: contain

		&__item:nth-child(3):before
			right: -40px




@media all and (max-width: 1023px)

	.how-order

		&__item::before,
		&__item::after
			display: none

		&__item b 
			font-size: 22px 
			width: auto

		&__item p 
			font-size: 16px
			width: auto




@media all and (max-width: 768px)

	.how-order
		&__list
			flex-wrap: wrap

		&__img
			width: 200px 
			height: 200px 

		&__img img
			width: 100%
			height: auto

		&__item:nth-child(1)
			margin-top: 0px

		&__item
			max-width: 218px




@media all and (max-width: 480px)

	.how-order
		padding-top: 40px
		padding-bottom: 40px
		
		&__list 
			margin-top: 40px

		&__item
			margin-bottom: 26px
			margin-top: 0

		&__item:nth-child(3)
			margin-top: 0px




